borderColor =  #005F6B
secondaryBorderColor = #00B4CC
backgroundColor = #343838
secondaryBackgroundColor = #00DFFC
fontColor = #343838
borderWidth = 8px
fontStack = "04b24", Monospace
body
  font-family fontStack
  background-color backgroundColor
  color fontColor
.population
  float left
  margin 0.75em
  border solid borderWidth borderColor
  background-color secondaryBackgroundColor
  position relative
  .dimension
    border borderWidth solid secondaryBorderColor
    float left
    .row
      height 8px
      line-height 6px
      .cell
        display inline-block
        width 8px
        height 8px
        transition 0.1s
        &.alive
          background-color fontColor
  .dimension-pair:nth-child(2n)
    .dimension
      float right
  .dimension-pair:nth-child(2n + 1)
    .dimension:first-child
      transform rotate(90deg)
  .status
    position absolute
    width 100%
    height 100%
    top 0
    transition 0.5s
    z-index 2
    background-color borderColor
    color secondaryBackgroundColor
    h1,h3
      text-align center
      width 100%
      top 50%
      transform translateY(-1.2em)
      position absolute
    h1
      text-transform uppercase
    h3
      opacity 0.75
      transform translateY(0.2em)
    &:hover
      opacity 0
menu
  background-color borderColor
  font-size 1.2em
  input
    font-size 1.2em
    width 2em
    font-family fontStack
    background-color secondaryBorderColor
    border none
    color secondaryBackgroundColor
    padding-left 0.5em
  label
    margin-right 0.5em
    color secondaryBorderColor
  button
    font-family fontStack
    font-size 1.2em
    background-color secondaryBackgroundColor
    border none
    color secondaryBorderColor
    text-transform uppercase
    transition 0.1s
    &:hover
      color white
      cursor pointer
    &:focus
      outline none
