html
  font-family: Monospace
  background-color: #DCD6B2
  border-top: solid 4px #B8C7A8
  font-size:4px
.population
  float: left
  margin: 0.75em
  border: solid 4px #E1E5CA
  background-color: #B0E1CE
  overflow: wrap
  .row
    height: 8px
    .cell
      display: inline-block
      width: 8px
      height: 8px
      transition: 0.5s
      &.alive
        background-color: #AEA094
